In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
#import dataset
df = pd.read_csv(r'C:\Users\Grace\Desktop\13apr_2025\dirty_customer_data_100k.csv')
print(df.head(5))

                            Customer_ID        Full_Name  \
0  c0856824-7d7c-430f-9a19-c0b2f60b07bf     David Golden
1  1fcb2b58-fa35-431d-8fd9-9aa3a166c1ac      Tyrone Sosa
2  be6837ce-cef3-43a6-8df2-eba82fdc865c  Johnny Robinson
3  8b3e6fe3-e298-4c22-812c-c9f68027c3b4        Jon Brown
4  1662caf4-2744-4892-80b5-e49b72960864  Blake Rodriguez

                      Email           Phone_Number              City  \
0        lori21@hotmail.com  001-235-010-7432x2345       Rodgersport
1      jonesblake@yahoo.com        +1-972-930-7776      Martinezfort
2        alicia56@yahoo.com       883-274-4926x716  East Phillipside
3        joseph77@gmail.com      643-559-3577x4618     Thompsonhaven
4  tannerwilliams@yahoo.com             7550004131      East Gabriel

            Country Date_of_Birth Signup_Date  Total_Purchase Customer_Status
0           Germany    1967-06-18  2020-08-17          198.30        inactive
1             Aruba    1936-01-22  2020-08-10          272.90        inactive
2  Saint Barthelemy    1975-12-08  2023-09-27          335.13          Active
3         Indonesia    1960-08-24  2022-01-10          367.51             NaN
4          Kiribati    1976-12-13  2024-04-28           70.98             NaN

In [6]:
#How can you remove all duplicate customer records based on the entire row or a specific column like Email or Phone_Number?
df.drop_duplicates(subset=['Email', 'Phone_Number'], keep='first', inplace=True)
print(df.head(5))

                            Customer_ID        Full_Name  \
0  c0856824-7d7c-430f-9a19-c0b2f60b07bf     David Golden
1  1fcb2b58-fa35-431d-8fd9-9aa3a166c1ac      Tyrone Sosa
2  be6837ce-cef3-43a6-8df2-eba82fdc865c  Johnny Robinson
3  8b3e6fe3-e298-4c22-812c-c9f68027c3b4        Jon Brown
4  1662caf4-2744-4892-80b5-e49b72960864  Blake Rodriguez

                      Email           Phone_Number              City  \
0        lori21@hotmail.com  001-235-010-7432x2345       Rodgersport
1      jonesblake@yahoo.com        +1-972-930-7776      Martinezfort
2        alicia56@yahoo.com       883-274-4926x716  East Phillipside
3        joseph77@gmail.com      643-559-3577x4618     Thompsonhaven
4  tannerwilliams@yahoo.com             7550004131      East Gabriel

            Country Date_of_Birth Signup_Date  Total_Purchase Customer_Status
0           Germany    1967-06-18  2020-08-17          198.30        inactive
1             Aruba    1936-01-22  2020-08-10          272.90        inactive
2  Saint Barthelemy    1975-12-08  2023-09-27          335.13          Active
3         Indonesia    1960-08-24  2022-01-10          367.51             NaN
4          Kiribati    1976-12-13  2024-04-28           70.98             NaN

In [7]:
#How would you handle missing values in columns like Customer_Status or Email — would you drop them, fill them, or flag them, and why?
df['Customer_Status'].fillna('Unknown', inplace=True)
df['Email'].fillna('No Email', inplace=True)

C:\Users\Grace\AppData\Local\Temp\ipykernel_7740\1910388951.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_Status'].fillna('Unknown', inplace=True)
C:\Users\Grace\AppData\Local\Temp\ipykernel_7740\1910388951.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('No Email', inplace=True)

In [8]:
##How can you standardize column names so they are consistent (e.g., lowercase, no spaces, no special characters)?
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'[^a-zA-Z0-9_]', '', regex=True)
print(df.columns)

Index(['customer_id', 'full_name', 'email', 'phone_number', 'city', 'country',
       'date_of_birth', 'signup_date', 'total_purchase', 'customer_status'],
      dtype='object')

In [11]:
##How can you convert the Date_of_Birth and Signup_Date columns into proper datetime format and handle invalid dates?
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], errors='coerce')
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')
print(df[['date_of_birth', 'signup_date']].head(10))

  date_of_birth signup_date
0    1967-06-18  2020-08-17
1    1936-01-22  2020-08-10
2    1975-12-08  2023-09-27
3    1960-08-24  2022-01-10
4    1976-12-13  2024-04-28
5    1944-03-19  2020-11-03
6    1994-12-20  2024-07-17
7    1948-10-05  2021-09-15
8    1984-04-12  2023-12-15
9    1994-06-03  2022-11-12

In [12]:
df['date_of_birth'] = df['date_of_birth'].dt.strftime('%d-%m-%Y')
df['signup_date'] = df['signup_date'].dt.strftime('%d-%m-%Y')
print(df[['date_of_birth', 'signup_date']].head(10))

  date_of_birth signup_date
0    18-06-1967  17-08-2020
1    22-01-1936  10-08-2020
2    08-12-1975  27-09-2023
3    24-08-1960  10-01-2022
4    13-12-1976  28-04-2024
5    19-03-1944  03-11-2020
6    20-12-1994  17-07-2024
7    05-10-1948  15-09-2021
8    12-04-1984  15-12-2023
9    03-06-1994  12-11-2022

In [13]:
##How would you clean up the Full_Name column to remove extra spaces, numbers, or special characters (e.g., Mr., #, @)?
df['full_name'] = df['full_name'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()
print(df['full_name'].head(10))

0        David Golden
1         Tyrone Sosa
2     Johnny Robinson
3           Jon Brown
4     Blake Rodriguez
5           Todd Dunn
6        Pamela Meyer
7     Robert Davidson
8    Jennifer Parrish
9     Jennifer Miller
Name: full_name, dtype: object

In [14]:
##How can you normalize values in the Customer_Status column (e.g., Active, active, ACTIVE, Inactive, etc.) to a consistent format?
df['customer_status'] = df['customer_status'].str.lower().str.strip()
print(df['customer_status'].unique())

['inactive' 'active' 'unknown' 'actve']

In [15]:
##How can you split the Full_Name column into First_Name and Last_Name columns for easier processing?
df[['first_name', 'last_name']] = df['full_name'].str.split(' ', n=1, expand=True)
print(df[['first_name', 'last_name']].head(10))

  first_name  last_name
0      David     Golden
1     Tyrone       Sosa
2     Johnny   Robinson
3        Jon      Brown
4      Blake  Rodriguez
5       Todd       Dunn
6     Pamela      Meyer
7     Robert   Davidson
8   Jennifer    Parrish
9   Jennifer     Miller

In [17]:
##How would you create a new column Age based on the Date_of_Birth, and how would you filter out unrealistic ages (e.g., <0 or >100)?
# Ensure date_of_birth is in datetime format
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], errors='coerce')

# Calculate age and filter unrealistic ages
df['age'] = (pd.to_datetime('today') - df['date_of_birth']).dt.days // 365
df = df[(df['age'] >= 0) & (df['age'] <= 100)]

C:\Users\Grace\AppData\Local\Temp\ipykernel_7740\2320171780.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], errors='coerce')

In [19]:
##How can you identify customers with invalid Email addresses (e.g., missing '@', missing domain) using string or regex functions?
invalid_email_mask = ~df['email'].str.contains(r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$', regex=True)
invalid_emails = df[invalid_email_mask]
print(invalid_emails[['email']].head(10))

               email
15   john@@gmail.com
25   john@@gmail.com
34   john@@gmail.com
59   john@@gmail.com
85   john@@gmail.com
90   john@@gmail.com
149  john@@gmail.com
158  john@@gmail.com
212  john@@gmail.com
276  john@@gmail.com

In [20]:
##How would you detect and remove phone numbers that are malformed, contain letters, or don’t match a specific pattern like international format (+country-code)?   
df['phone_number'] = df['phone_number'].str.replace(r'[^0-9+]', '', regex=True)
valid_phone_mask = df['phone_number'].str.match(r'^\+\d{1,3}\d{10}$')
df = df[valid_phone_mask]
print(df['phone_number'].head(10))

1      +19729307776
11     +16216805850
36     +17344887292
55     +18714464334
68     +18397134179
102    +18814521153
144    +12086581194
145    +19456291137
155    +13556811820
208    +17930798806
Name: phone_number, dtype: object

In [21]:
df.to_csv('assignment13april.csv', index=False)